<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_list</key>
	<array>
		<!-- User without admin rights -->
		<dict>
			<key>userid</key>
			<string>tt2</string>
			<key>admin</key>
			<false/>	
		</dict>
		<!-- User to be given admin rights -->
		<dict>
			<key>userid</key>
			<string>jc18</string>
			<key>admin</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
